@media screen and (max-width: 960px) {
    section.cover-form{
        text-align: center;

        main{
            width: 96%;
            max-width: 400px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media screen and (max-width: 768px) {
    section.mosaico{
        article{
            flex: none;
            display: block;

            .mosaico-img{
                height: 400px;
                width: 100%;
            }

            p{
                width: 100%;
                text-align: justify;
            }
        }
    }
}

@media screen and (max-width: 510px){
    header{
        text-align: center;

        .logo{
            float: none;
            display: block;
            background-color: green; /* test */
        }
    }
}