@media screen and (max-width:830px){

    header .chamada{
        max-width: none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 170px 0;

        h1{
            font-size: 30px;
            padding: 0;
        }
    }
}

@media screen and (max-width: 768px){

    header{
        nav{
            display: block;
            height: 32px;
            width: 32px;
            background-image: url("../media/menu.png");
            background-size: 100% 100%;
            text-align: center;
            cursor: pointer;

            ul{
                background-color: white;
                position: absolute;
                width: 100%;
                left: 0;
                top: 40px;
                list-style-type: none;
                opacity: 0;
                transition: 1s;

                li{
                    padding: 8px 0;
                    border-bottom: 1px solid black;
                    float: none;
                    transition: .4s;

                    a{
                        color: black;
                        text-decoration: none;
                    }
                }

                li:hover{
                    background-color: rgb(230,230,230);
                }
            }
        }

        nav:hover > ul{
            display: block;
            opacity: 1;
        }
    }

    section.sessao1{
        padding: 40px 2%;
        height: auto;
        text-align: center;
        
        .texto-sessao1{
            margin-top: 0;
            position: static;
            float: none;
            padding-left: 0;
            display:inline-block;
            width: 100%;

            ul {
                display: inline-block;
                margin-top: 20px;

                li{
                    float: none;
                    text-align: left;
                }
            }

            .btn1-texto{
                display: inline-block;
            }
        }

        .device-sessao1{
            display: none;
        } 
    }

    .sessao2{
        padding: 40px 2%;
    }

    .sessao4{

        .container{
            text-align: center;
            display: inline-block;
        }

        .form{
            
            float: none;
            width: 100%;

            p{
                display: inline-block;
                float: none;
            }
        }

        .map-wrapper{
            float: none;
            width: 100%;
            margin-top: 40px;
            padding: 0 4%;

            .map-wrapper3{
                display: inline-block;
                max-width: none;
                width: 80%;
                padding-top: 80%;

                .map-wrapper2{
                    padding-top: 0;
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 580px) {
    
    .sessao2 img{
        top: 10px;
        margin-top: 20px;
    }

    .sessao3{

        .part1{
            width: 100%;
            padding: 40px 0;
        }

        .part2{
            width: 100%;
            padding: 40px 0;
        }
    }
}