*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    height: 100%;
    overflow: auto;
}

body > * {
    width: 90%;
    margin: 0 auto;
}